configuration {
    modi:           "drun,run,window";
    show-icons:     true;
    icon-theme:     "Papirus-Dark";
    terminal:       "kitty";
    drun-display-format: "{name}";
    display-drun: "";
    display-run:    " Run";
    display-window: " Windows";
    font:           "JetBrains Mono 12";
}

@theme "~/.config/rofi/themes/darkmatter.rasi"
