[Desktop Entry]
Type=Application
Name=Claude
Exec=claude-desktop & disown
Icon=claude-desktop
StartupWMClass=Claude
Terminal=false
X-GNOME-Autostart-enabled=true
